/* 导航主体 */
.nav-side {
  float: left;
  width: 130px;
  min-height: 100px;
}

.nav-side .nav-item {
  line-height: 25px;
  font-size: 13px;
}

.nav-side .nav-item .link {
  color: #888;
}

.nav-side .nav-item a:hover {
  color: #c60023;
}

/* 添加到用户选中的item中 */
.select {
  color: #c60023;
  cursor: pointer;
  text-decoration: none;
}

/* 右侧内容区 */
.content.with-nav {
  float: left;
  width: 950px;
}
