<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title%>
    </title>
  </head>
  <body>
    <%= require('html-loader!./layout/header.html') %>
    <%= require('html-loader!./layout/search.html') %>
    <section class="crumb">
      <div class="w">
        <div class="crumb-con">
          <a class="link" href="./index.html">Market</a>
          <span class="link-text">> <%= htmlWebpackPlugin.options.title%></span>
        </div>
      </div>
    </section>
    <section class="page-wrap w">
      <%= require('html-loader!./layout/nav-side.html') %>
      <div class="content with-nav">
        <div class="panel">
          <div class="panel-title">个人中心</div>
          <div class="panel-body">
            <div class="loading"></div>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!./layout/footer.html') %>
  </body>
</html>
